p { color: brown;
     text-align: center; 
     line-height: 30px; } 
     h1 { text-align: center; 
     
        color: red;
        
         font-family: Georgia; } 
         h3 { text-align: center; 
            color: black;
  text-decoration: none; 
    color: green; }
     button { background-color: white; 
        color: blueviolet; } 
        textarea { color: black; } 
        span { text-decoration: underline;
         }

        /* index(6).html file check and run for abc.css folder */ */

          button:hover{
            background-color: black;
            color: red;
         }


         h1::first-letter {
            color:black;
         }

         p::first-line {
            color:orchid
         }
         p::selection{
            background-color: rgb(151, 151, 68);
         }


         #outer {
            height: 200px;
            width: 70px; 
            border: solid black;
         }


         .inner{
            height: 50px;
            width: 50px;
            border: 2px solid black;
            margin: 10px;
            border-radius: 50px;
         }
         #red{
            background-color: red;
         }
         #yellow{
            background-color: yellow;
         }
         #green{
            background-color: green;
         }

         div{
            background-color: green;
             height: 200px;
            width: 200px; 
            border: solid black;
            transition: 2s;
         }

         div:hover{
            background-color: black;
            border-radius: 50%;
         } 

         