#t_color{
    color:blue;
}
#t_size{
    font-size: 50px;
}
.t_color{
    color: red;
}
.t_size{
    font-size: 150px;
}

/* descendant selector ---> use for selects all paragraphs inside divs */
p {
    color: purple;
    background-color: yellow;
}



 body{
     /* width: 200px;
    height: 200px; */
    background-color: black;
    background-image:url(/images/construction\ 2.jpeg);
    background-repeat:no-repeat;
    background-size: cover; 
    /* background-size: contain; */
    
}  

div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    margin-bottom: 40px; 
  
}


.linear{
    color: black;
    height: 300px;
    /* background: linear-gradient(to right,red,green,blue,yellow,black,purple); */
     /* background: linear-gradient( right,orange,white green); */
     background: linear-gradient(to right,#e98000,white,rgb(16, 152, 43));
} 

.radial{
    height: 300px;
    background: radial-gradient(circle,black,red,white,blue);
}

.conic{
    height: 300px;
    background: conic-gradient(from 90deg,black,red,white,blue);
}



.flex-item{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    margin: 20px;
    color: white;
    font-size: 50px;
    display: flex;
   justify-content: center;
   align-items: center;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.container{
    background-color: aqua;
    width: 200px;
    height: 200px;
    margin: 20px;
    color: white;
    font-size: 50px;
}