p{
    font-size: 20px;
}
.f_family1{
    font-family: monospace;
    font-weight: 80px;
}

.f_family2{
    font-family: cursive;
    font-weight: 80px;
}

.f_family3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.f_family4{
    font-family:  sans-serif;
}

.f_family5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

