h3{
    font-size: 50px;
    background-color: aqua;
    color: black;
}


 .b_prop{
        border: 12px solid red;
    }

    .b_prop2{
        border: 15px dashed rgb(38, 0, 255);
    }

    .b_prop3{
        border: 12px inset rgb(183, 255, 0);
    }

    .b_prop4{
        border: 12px dotted rgb(0, 183, 255);
    }